@import "tailwindcss";

html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    filter: sepia(10%) saturate(150%) brightness(90%) contrast(110%) blur(0.5px);
}

* {
    margin: 0;
    padding: 0;
    cursor: none;
}

.default-cursor {
  position: fixed;
  top: -7px; /* align pointer with custom image */
  left: -15px; /* align pointer with custom image */
  width: 48px;
  height: 48px;
  background: url('../images/wii-cursors/default.cur'); /* custom image */
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 50;
}
.hovering-link {
  background: url('../images/wii-cursors/help.cur');
  z-index: 51;
}


@font-face {
    font-family: "RodinNTLG";
    src: url("../fonts/FOT-RodinNTLG Pro DB.otf");
}
@font-face {
    font-family: "RodinNTLG_Bold";
    src: url("../fonts/FOT-RodinNTLG Pro EB.otf");
}