html, body {
    background-color: #101010;
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: white;
}

.container .header1,
.container .header2,
.container .header3,
.container .header4 {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .header1 p,
.container .header2 p,
.container .header3 p,
.container .header4 p {
    font-family: "RodinNTLG";
    text-align: center;

    transform: scaleX(1.2);
}

.container .header1 {
    height: 25%;
    padding-top: 5vw;
    /* border: 1px solid blue; */
}
.container .header1 p {
    font-family: "RodinNTLG_Bold";
    font-size: 2.8vw;
}

.container .header2 {
    height: 30%;
    /* border: 1px solid red; */
}
.container .header2 p {
    font-size: 2vw;
}

.container .header3 {
    height: 20%;
    /* border: 1px solid green; */
}
.container .header3 p {
    font-size: 1.7vw;
}

.container .header4 {
    height: 25%;
    padding-bottom: 5vw;
    animation: blinker 1.3s linear infinite;
    /* border: 1px solid pink; */
}
.container .header4 p {
    font-size: 2vw;
}

@keyframes blinker {
  70% {
    opacity: 0;
  }
}

.fullscreen-tip {
    position: absolute;
    bottom: 1%;
    left: 1%;
    font-size: 1.2vw;
    color: white;
    animation: fadeIn 5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}